
@font-face {
    font-family: 'CaviarDreams';
    src: url('../css/font/CaviarDreams.woff2') format('woff2'),
         url('../css/font/CaviarDreams.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LouisGeorgeCafe';
    src: url('../css/font/LouisGeorgeCafe.woff2') format('woff2'),
         url('../css/font/LouisGeorgeCafe.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

body{

    font-family: 'LouisGeorgeCafe';
    
}

h1{
    text-align: center;
}

article{
    display: flex;
    justify-content: center;
}

article>section>img{
    width: 250px;

}
article>section{
    margin: 30px;
    

}

section>img:hover{
    border-bottom: 3px solid red;
}


@media only screen and (max-width: 639px) {

    article{
        display: flex;
        flex-direction: column;
    }

    article section{
        align-content: center;
        margin: 0 auto;
     }

        article section img{
          margin: 0  auto;
          width: 120px;
       }

}